<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--接口调用时间间隔-->
    <add key="timeinterval" value="2000"/>
    <!--方案提交的有效起始时间-->
    <add key="submittime" value="2014-11-05 09:56:38"/>
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FlowSVCSoap"/>
        <binding name="FlowSVCSoap1"/>
        <binding name="FlowSVCSoap2"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.7.92.28/Flow/FlowSVC.asmx" binding="basicHttpBinding" bindingConfiguration="FlowSVCSoap2" contract="ServiceReference1.FlowSVCSoap" name="FlowSVCSoap"/>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="essence" connectionString="Password=dbs#gop#test#123;User ID=essence;Data Source=92.29_ORCL;Max Pool Size=200;Min Pool Size=2" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v2.0.50727"/></startup>
</configuration>
